{% load static %}

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?categories=consoles" class="dropdown-item">Consoles</a>
                <a href="{% url 'products' %}?categories=games"class="dropdown-item ">Games</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="manufactors-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manufactors
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="manufactors-link">
                <a href="{% url 'products' %}?categories=nintendo" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?categories=sony" class="dropdown-item">Sony</a>
                <a href="{% url 'products' %}?categories=microsoft" class="dropdown-item">Microsoft</a>
                <a href="{% url 'products' %}?categories=sega" class="dropdown-item">Sega</a>
                <a href="{% url 'products' %}?categories=atari" class="dropdown-item">Atari</a>
                <a href="{% url 'products' %}?categories=bandai" class="dropdown-item">Bandai</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Manufactors</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specialdeals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specialdeals-link">
                <a href="{% url 'products' %}?categories=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?categories=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?categories=new_arrivals, deals" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
